*.exe
*.idea
*.vscode
*.suo
*.user
*.userosscache
*.sln
*.sln.docstates
*.ncb
*.sdf
*.opensdf
*.cache
*.db
*.log
*.dmp
*.pdb
*.opendb
cmake
CMakeFiles
CMakeCache.txt
*.out
.cmake
*.make
cmake-build-debug
cmake-build-release
cmake_install.cmake
hazi